* {
    margin: 0;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
    font-family: monospace;
    font-size: 20px;
}


.container {
    box-sizing: border-box;
    justify-content: space-between;
    width: 900px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
}


.player {
    box-sizing: border-box;
    background-color: red;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}


.villian {
    box-sizing: border-box;
    background-color: blue;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}


.container-1 {
    box-sizing: content-box;
    justify-content: space-between;
    width: 500px;
    background-color: #bbff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}


.container-2 {
    box-sizing: content-box;
    justify-content: space-between;
    width: 500px;
    background-color: hwb(61 0% 0%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}


.container-3 {
    box-sizing: content-box;
    justify-content: space-between;
    width: 500px;
    background-color: #ff9900;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}


.restart-btn {
    box-sizing: border-box;
    width: fit-content;
    background-color: rgb(243, 71, 100);
    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;
}