* {
    margin: 0;
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(90, 0, 235);
    font-family: monospace;
    font-size: 20px;
}


.container {
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    width: 900px;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
}


.player {
    box-sizing: border-box;
    background-color: red;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}


.villian {
    box-sizing: border-box;
    background-color: blue;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}


.container-1 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-left: 2rem;
    width: 500px;
    background-color: #00ff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.messageBox-1 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
    width: 300px;
    background-color: #00ff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: end;
}


.messageBox-2 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
    width: 300px;
    background-color: hwb(61 0% 0%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.messageBox-3 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 5rem;
    margin-right: 2rem;
    width: 300px;
    background-color: #ff9900;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: end;
}

/* Choice button design */
.choice {
    font-family: monospace;
    font-size: 20px;
    width: fit-content;
    box-sizing: content-box;
    margin-top: 1rem;
    box-shadow: 0 0 2px 2px;
}

.choice:hover {
    background: #e0275f;
    box-shadow: 0 0 5px #e24869;
}


.container-2 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-right: 2rem;
    width: 500px;
    background-color: hwb(61 0% 0%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


.container-3 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-left: 2rem;
    width: 500px;
    background-color: #ff9900;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}



.container-4 {
    box-sizing: content-box;
    justify-content: space-between;
    margin-right: 2rem;
    width: 500px;
    background-color: hsl(9, 100%, 50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


.container-5 {
    box-sizing: content-box;
    justify-content: space-between;
    width: 900px;
    color: white;
    margin-top: 10rem;
    background-color: hsl(0, 0%, 0%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}


.restart-btn {
    box-sizing: border-box;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: fit-content;
    background-color: rgb(243, 71, 100);
    font-family: monospace;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    
}